/*@import url(//fonts.googleapis.com/css?family=VT323);*/

/*
@font-face {
    font-family: 'Modern DOS', monospace;
    src: url("https://github.com/TobinCavanaugh/TobinCavanaugh.github.io/blob/main/ModernDOS8x8.ttf") format('truetype');
    font-weight: bold;
}
*/
@font-face {
    font-family: 'AAA';
    src: url('Font/Nouveau_IBM.ttf');
}

:root {
    /*Left indent*/
    --indent: 5vw;

    /*Universal font*/
    --font: system-ui;

    /*Amber Colors Main*/
    --amber: rgb(255, 191, 0);
    --amberTransp: rgba(255, 191, 0, .4);

    /*Border around image*/
    --amberTranspImage: rgba(255, 191, 0, .2);

    /*Center Glow Amber*/
    --amberCenterGlow: rgba(255, 191, 0, 0.2);
    --amberCenterGlowEdges: rgba(0, 0, 0, .1);

    /*Path Prefix*/
    --path: "C:\\Portfolio\\";

    /*Image scale, ~50rem is normal*/
    --imageScale: 50rem;

    /*Bloom particular glows*/
    --bloomLine: 4vh;
    --bloomText: 4vh;

    /*--fontSize: 75mm;*/

    /*Actual Header*/
    --headerSize: 8rem;

    /*Font sizes for stuff*/
    --listSize: 3rem;
    --subHeaderSize: 2.5rem;
    --subtitleSize: 1.8rem;
    --paraSize: 1.5rem;
}

body {
    background-color: black;
    color: var(--amber);
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

/*text selection highlight*/
::selection {
    background-color: var(--amber);
    color: black;
}

body,
body * {
    text-shadow: 0px 0px var(--bloomText) var(--amber),
    0px 0px var(--bloomText) var(--amber);
}

/* Scanlines */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .15) 4px, transparent 5px, transparent 7px, rgba(0, 0, 0, .15) 8px);
    background-size: 100% 8px;

    z-index: 200;
    pointer-events: none;
    animation: scanlines 10s linear infinite;
}


.splashscreen-bg {
    /* Full viewport width and height */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: black;
    z-index: 1;
    animation: IBM_FadeOut 3s steps(33) forwards 3s;
}

.splashscreen {
    /* Full viewport width and height */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-image: url("Blend/IBM_text/splash_lowestres.png");

    background-repeat: no-repeat;
    background-size: 50%;
    /* Adjust the value to control the size of the background image */
    background-position: center;
    opacity: 1;
    pointer-events: none;
    z-index: 6;

    filter: drop-shadow(0px 0px var(--bloomText) var(--amber));
    animation: IBM_Flyout 2s steps(33) forwards 2s;
}

@keyframes IBM_FadeOut {
    0% {
        opacity: 100%;
    }

    50% {
        pointer-events: none;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes IBM_Flyout {

    100% {
        transform: translate(0, -100%);
        pointer-events: none;
    }
}


/* Center Gradient Glow*/
.centerGradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: radial-gradient(circle, var(--amberCenterGlow) 0%, var(--amberCenterGlowEdges) 120%);
    pointer-events: none;
}

.noise-layer {
    position: fixed;
    top: -50rem;
    left: -50rem;
    right: -50rem;
    bottom: -50rem;
    width: 100rem;
    height: 100rem;
    background: transparent url('Icons/noise-transparent.png') repeat center;
    animation: static-noise 0.2s infinite;
    opacity: 0.6;
    visibility: visible;
    pointer-events: none;
    scale: 500%;
    z-index: 4;
}


.screen-door {
    background-image: url("ScreenDoor/ScreenCirclesPacked.png");
    filter: blur(.5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: visible;
    opacity: .05;
    background-repeat: repeat;
    background-size: 40px;
    z-index: 6;
}


@keyframes static-noise {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-10rem, 5rem);
    }

    40% {
        transform: translate(15rem, 0);
    }

    60% {
        transform: translate(-15rem, 0);
    }

    80% {
        transform: translate(5rem, -5rem);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes scanlines {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -1%;
        /* Adjust the value to control the scrolling speed */
    }
}

a {
    color: var(--amber);
    text-decoration: underline;
    font-size: var(--subHeaderSize);
    /*white-space: pre;*/
}

a::after {
    white-space: pre;
    font-size: 0.8em;
    content: "   \f2f5";
    font-family: "Font Awesome 5 Free";
}

i {
    display: inline-block;
}

.line {
    border: none;
    border-top: 0.4vh solid var(--amber);
}

.line-slightly-wider {
    border: none;
    border-top: 0.4vh solid var(--amber);
    transform: scaleX(101%);
}


header {
    list-style: none;
    font-size: var(--headerSize);
    margin-left: 0.2em;
}

summary:hover {
    background-color: var(--amberTransp);
    color: var(--amber);
}

summary::before {
    content: "[>] " var(--path);
    font-weight: normal;
    white-space: pre;
}

summary::after {
    content: "\\";
}

details {
    margin-left: var(--indent);
}

details[open] summary::before {
    content: "[v] " var(--path);
    white-space: pre;
}

details[open] summary::after {
    content: "\\...";
}

details[open] summary {
    font-weight: bold;
    background-color: var(--amberTransp);
}

h2:hover {
    background-color: var(--amberTransp);
    color: var(--amber);
}

summary {
    list-style: none;
    cursor: grab;
    font-size: var(--listSize);
}

h2 {
    padding-left: var(--indent);
    font-size: var(--subtitleSize);
}

.s-offset {
    margin-top: 20px;
    margin-right: -2px;
    offset: top;
}

p {
    padding-left: var(--indent);
    font-weight: bold;
    font-style: italic;
    font-size: var(--subtitleSize);
}

blockquote {
    padding-left: var(--indent);
    font-weight: normal;
    font-size: var(--paraSize);
    /*white-space: pre;*/
    white-space: pre-line;
}

hr {
    /*border: 2px solid var(--amber);*/
    box-shadow: 0px 0px var(--bloomLine) var(--amber);
}

.custom-img {
    margin-left: calc(2 * var(--indent));
    border: 4px solid var(--amber);
    box-shadow: 0px 0px var(--bloomLine) var(--amber);
    width: var(--imageScale);
    /*height: calc(var(--imageScale) / 1.77777778);*/
    aspect-ratio: 16 / 9;
}

@-moz-document url-prefix() {
    .custom-gif {
        filter: blur(1px);
    }
}


.four-by-three {
    aspect-ratio: 4 / 3;
}

.one-by-one {
    aspect-ratio: 1/1;
}

/*This is the top right allow sound button*/
.top-right-button {
    position: fixed;

    top: 1em;
    right: 1rem;
    padding: 1rem;

    border: 0.04vh solid var(--amber);
    color: var(--amber);
    background-color: black;
    cursor: pointer;

    filter: drop-shadow(0px 0px var(--bloomLine) var(--amber));
}

strong {
    font: var(--font);
    font-size: var(--paraSize);
}

/*Box around md*/
.text-container {
    box-sizing: border-box;
    padding: 5px;
    box-shadow: 0px 0px var(--bloomLine) var(--amber);
    width: 100em;
    margin-left: var(--indent);
    border: solid var(--amber) 0.4vh;
}

#text-container-title {
    display: inline-block;
    margin-left: 5em;
    margin-right: 5em;
    padding: 2px;
}

#text-container-edit {
    float: left;
    white-space: pre;
    padding: 2px;
}

#text-container-controls {
    display: inline-block;
    float: right;
    padding: 2px;
    white-space: pre;
}


.bg-amber-transp {
    background-color: var(--amberTranspImage);
    box-shadow: 0px 0px var(--bloomLine) var(--amber);
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--amber) #000000;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 3px;
    filter: drop-shadow(0px 0px var(--bloomLine) var(--amber));
}

*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #000000;
}

*::-webkit-scrollbar-track:hover {
    background-color: #000000;
}

*::-webkit-scrollbar-track:active {
    background-color: #000000;
}

*::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--amber);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--amber);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--amber);
}

::-webkit-scrollbar-thumb:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2px;
    left: 0;
    background-color: #000000;
    z-index: -1;
    filter: drop-shadow(0px 0px 5px var(--amber));
}
